body {
  min-width: 500px;
}
body a:hover {
  text-decoration: none;
}
body header .header-title {
  background-color: #f9f9f9;
  color: #333;
}
body header .header-title .my-logo {
  height: 44px;
  line-height: 44px;
}
body header .header-body {
  background-color: #009b76;
}
body header .header-body .navbar-btn {
  text-align: center;
}
body header .header-body .navbar-btn a {
  color: #f9f9f9;
}
body header .header-body .navbar-btn a:hover {
  color: #e0e0e0;
}
body nav {
  padding: 20px 0;
  background: #53284f;
}
body nav .blog_banner_box {
  position: relative;
}
body nav .blog_banner_box img {
  width: 100%;
}
body nav .blog_banner_box .blog_banner_left {
  position: absolute;
  left: 0;
  top: 50%;
}
body nav .blog_banner_box .blog_banner_right {
  position: absolute;
  right: 0;
  top: 50%;
}
body nav .blog_banner_box .blog_banner_btn {
  position: absolute;
  left: 50%;
  bottom: 10px;
}
body nav .blog_banner_box .blog_banner_btn ul {
  position: relative;
  left: -50%;
  bottom: 0;
}
body nav .blog_banner_box .blog_banner_btn ul li {
  float: left;
  margin: 0 10px;
}
body nav .blog_banner_box .blog_banner_btn ul li b {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid #ddd;
  border-radius: 50%;
  text-align: center;
  background: #f9f9f9;
}
body section {
  margin: 50px 0;
}
body footer {
  text-align: center;
}
body footer .footer-top {
  height: 50px;
  line-height: 50px;
  background: #009b76;
}
body footer .footer-top .ico-box {
  margin: 0 auto;
  width: 200px;
}
body footer .footer-top .ico-box .ico {
  margin: 1px 6.5px;
  float: left;
  width: 48px;
  height: 48px;
  line-height: 40px;
}
body footer .footer-top .ico-box .ico-wx {
  background: url("../img/icon.png") no-repeat -346px -135px;
}
body footer .footer-top .ico-box .ico-wx:hover {
  background: url("../img/icon.png") no-repeat -346px -418px;
}
body footer .footer-top .ico-box .ico-wb {
  background: url("../img/icon.png") no-repeat -137px -135px;
}
body footer .footer-top .ico-box .ico-wb:hover {
  background: url("../img/icon.png") no-repeat -137px -418px;
}
body footer .footer-top .ico-box .ico-qq {
  background: url("../img/icon.png") no-repeat -277px -135px;
}
body footer .footer-top .ico-box .ico-qq:hover {
  background: url("../img/icon.png") no-repeat -277px -417px;
}
body footer .footer-main {
  background: #53284f;
}
body footer .footer-main a {
  color: #f9f9f9;
}
body footer .footer-main a:hover {
  color: #e0e0e0;
}
body footer .footer-bottom {
  height: 30px;
  line-height: 30px;
  background-color: #333;
  color: #f9f9f9;
}
