body{
  @color_white:#f9f9f9;
  @color_black:#333;
  @color_green:#009b76;
  @color_purple:#53284f;
  a:hover{
    text-decoration: none;
  }
  header{
    .header-title{
      background-color: @color_white;
      color: @color_black;
      .my-logo{
        height: 44px;
        line-height: 44px;
      }
    }
    .header-body{
      background-color: @color_green;
      .navbar-btn{
        text-align: center;
        a{
          color: @color_white;
        }
        a:hover{
          color: darken(@color_white,10%);
        }
      }
    }
  }
  nav{
    padding: 20px 0;
    background: @color_purple;
    .blog_banner_box{
      position: relative;
      img{
        width: 100%;
      }
      .blog_banner_left{
        position: absolute;
        left: 0;
        top: 50%;
      }
      .blog_banner_right{
        position: absolute;
        right: 0;
        top: 50%;
      }
      .blog_banner_btn{
        position: absolute;
        left: 50%;
        bottom: 10px;
        ul{
          position: relative;
          left: -50%;
          bottom: 0;
          li{
            float: left;
            margin: 0 10px;
            b{
              display: inline-block;
              width: 35px;
              height: 35px;
              border: 1px solid #ddd;
              border-radius: 50%;
              text-align: center;
              background: @color_white;
            }
          }
        }
      }
    }
  }
  section{
    margin: 50px 0;
  }
  footer{
    text-align: center;
    .footer-top{
      height: 50px;
      line-height: 50px;
      background: @color_green;
      .ico-box{
        margin: 0 auto;
        width: 200px;
        .ico{
          margin: 1px 6.5px;
          float: left;
          width: 48px;
          height: 48px;
          line-height: 40px;
        }
        .ico-wx{
          background: url("../img/icon.png") no-repeat -346px -135px;
        }
        .ico-wx:hover{
          background: url("../img/icon.png") no-repeat -346px -418px;
        }
        .ico-wb{
          background: url("../img/icon.png") no-repeat -137px -135px;
        }
        .ico-wb:hover{
          background: url("../img/icon.png") no-repeat -137px -418px;
        }
        .ico-qq{
          background: url("../img/icon.png") no-repeat -277px -135px;
        }
        .ico-qq:hover{
          background: url("../img/icon.png") no-repeat -277px -417px;
        }
      }
    }
    .footer-main{
      background: @color_purple;
      a{
        color: @color_white;
      }
      a:hover{
        color: darken(@color_white,10%);
      }
    }
    .footer-bottom{
      height: 30px;
      line-height: 30px;
      background-color: @color_black;
      color: @color_white;
    }
  }
}