
<div ng-include="'tpl/include/header.html'"></div>
<div id="start">
    <div id="ym-banner" class="ym-center">
        <div class="ym-banco">
            <div class="ym-daybao ym-fl">
                <div class="animation-box">
                    <img src="img/start/banner290X380.jpg" alt=""/>
                    <div class="ym-show-num">
                        <b>11.00%</b>
                    </div>
                    <p>年化收益</p>
                    <div class="ym-now-zhuan">
                        <a ui-sref="finance">点击抢购</a>
                    </div>
                </div>
            </div>
            <div class="ym-bancomid ym-fl">
                <ul>
                    <li class="ym-banner-0" ng-mouseenter="bannerImgIn(0)" ng-mouseleave="bannerImgOut(0)">
                        <a href="#">
                            <div class="animation-box">
                                <img src="img/start/banner3_02.jpg" alt=""/>
                                <h3>
                                    <span>开启时间2016年11月7日</span>
                                </h3>
                                <div class="ym-pinlei">
                                    <b>首投再次来袭</b>
                                </div>
                                <p>投100元立返16元现金红包</p>
                                <div class="ym-canjiabtn">
                                    <span>查看详情</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="ym-banner-1" ng-mouseenter="bannerImgIn(1)" ng-mouseleave="bannerImgOut(1)">
                        <a href="#">
                            <div class="animation-box">
                                <img src="img/start/banner_shiyihd.jpg" alt=""/>
                                <h3>
                                    <span>开启时间2016年10月1日</span>
                                </h3>
                                <div class="ym-pinlei">
                                    <b>欢度国庆</b>
                                </div>
                                <p>天天抱大奖</p>
                                <div class="ym-canjiabtn">
                                    <span>查看详情</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="ym-banner-2" ng-mouseenter="bannerImgIn(2)" ng-mouseleave="bannerImgOut(2)">
                        <a href="#">
                            <div class="animation-box">
                                <img src="img/start/banner_shiyi.jpg" alt=""/>
                                <h3>
                                    <span>开启时间2016年9月23日</span>
                                </h3>
                                <div class="ym-pinlei">
                                    <b>这几天送手机呢</b>
                                </div>
                                <p>庆公司成立两周年</p>
                                <div class="ym-canjiabtn">
                                    <span>查看详情</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="ym-banner-3" ng-mouseenter="bannerImgIn(3)" ng-mouseleave="bannerImgOut(3)">
                        <a href="#">
                            <div class="animation-box">
                                <img src="img/start/banner1.jpg" alt=""/>
                                <h3>
                                    <span>开启时间2016年9月15日</span>
                                </h3>
                                <div class="ym-pinlei">
                                    <b>中秋来燃灯</b>
                                </div>
                                <p>大奖等你拿</p>
                                <div class="ym-canjiabtn">
                                    <span>查看详情</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="ym-banner-4" ng-mouseenter="bannerImgIn(4)" ng-mouseleave="bannerImgOut(4)">
                        <a href="#">
                            <div class="animation-box">
                                <img src="img/start/banner2.jpg" alt=""/>
                                <h3>
                                    <span>开启时间2016年8月25日</span>
                                </h3>
                                <div class="ym-pinlei">
                                    <b>庆奥运健儿归国</b>
                                </div>
                                <p>抽奖赢红包欢乐转不停</p>
                                <div class="ym-canjiabtn">
                                    <span>查看详情</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="ym-banner-5" ng-mouseenter="bannerImgIn(5)" ng-mouseleave="bannerImgOut(5)">
                        <a href="#">
                            <div class="animation-box">
                                <img src="img/start/banner3.jpg" alt=""/>
                                <h3>
                                    <span>开启时间2016年8月18日</span>
                                </h3>
                                <div class="ym-pinlei">
                                    <b>首投有特权</b>
                                </div>
                                <p>投100立返现金16元</p>
                                <div class="ym-canjiabtn">
                                    <span>查看详情</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="ym-banner-6" ng-mouseenter="bannerImgIn(6)" ng-mouseleave="bannerImgOut(6)">
                        <a href="#">
                            <div class="animation-box">
                                <img src="img/start/banner4.jpg" alt=""/>
                                <h3>
                                    <span>开启时间2016年8月1日</span>
                                </h3>
                                <div class="ym-pinlei">
                                    <b>致敬军人</b>
                                </div>
                                <p>开启转盘送幸运</p>
                                <div class="ym-canjiabtn">
                                    <span>查看详情</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="ym-banner-7" ng-mouseenter="bannerImgIn(7)" ng-mouseleave="bannerImgOut(7)">
                        <a href="#">
                            <div class="animation-box">
                                <img src="img/start/banner7.jpg" alt=""/>
                                <h3>
                                    <span>开启时间2016年7月4日</span>
                                </h3>
                                <div class="ym-pinlei">
                                    <b>议言不合还有礼</b>
                                </div>
                                <p>你发牢骚我送礼</p>
                                <div class="ym-canjiabtn">
                                    <span>查看详情</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="ym-banner-8" ng-mouseenter="bannerImgIn(8)" ng-mouseleave="bannerImgOut(8)">
                        <a href="#">
                            <div class="animation-box">
                                <img src="img/start/banner6.jpg" alt=""/>
                                <h3>
                                    <span>开启时间2016年6月8日</span>
                                </h3>
                                <div class="ym-pinlei">
                                    <b>吃粽子 赛龙舟</b>
                                </div>
                                <p>鱼猫陪你乐三天</p>
                                <div class="ym-canjiabtn">
                                    <span>查看详情</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ym-l-r-btn">
                <div class="ym-lbtn" ng-mouseover="btnMove(1)" ng-mouseleave="btnMove(2)">
                    <a ng-click="moveLeft()"></a>
                </div>
                <div class="ym-rbtn" ng-mouseover="btnMove(3)" ng-mouseleave="btnMove(4)">
                    <a ng-click="moveRight()"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="ym-dongtai">
                    <div class="ym-fl ym-dongtai-title ym-font18">
                        <span class="glyphicon glyphicon-bullhorn"></span> 实时动态
                    </div>
                    <div class="ym-fl ym-dongtai-con">
                        <ul>
                            <li ng-repeat="order in orderList">{{order.user_text}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="ym-notice">
                    <div class="row">
                        <div class="col-xs-3 ym-center"><a class="notice01" href="#"></a></div>
                        <div class="col-xs-3 ym-center"><a class="notice02" href="#"></a></div>
                        <div class="col-xs-3 ym-center"><a class="notice03" href="#"></a></div>
                        <div class="col-xs-3 ym-center"><a class="notice04" href="#"></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="ym-main-top">
                    <b class="ym-font16">在线抢购</b>
                </div>
                <div class="ym-main-con">
                    <div class="row">
                        <div class="col-xs-9">
                            <p><b>河北公司11月应收账款转让项目</b></p>
                            <p>年化收益<b class="nianhuashouyi">9.00 %</b>借款金额<b>200.00万元</b>借款期限<b>1个月</b></p>
                            <div class="row">
                                <div class="col-xs-10">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-warning active" style="width: 33.29%"></div>
                                    </div>
                                </div>
                                <div class="col-xs-2 ym-font14">
                                    已投33.29%
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="btn btn-lg btn-warning ym-btn">立刻投资</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12">
                <div class="ym-main-top">
                    <b class="ym-font16">往期投资</b>
                </div>
                <table class="table table-hover ym-center">
                    <thead>
                    <tr class="ym-font18">
                        <th>年化收益率</th>
                        <th>项目名称</th>
                        <th>期限</th>
                        <th>项目规模</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="ym-font16" ng-repeat="item in itemList">
                        <td><em class="ym-font18">{{item.yield}} %</em></td>
                        <td><a href="#">{{item.name}}</a></td>
                        <td>{{item.deadline}}个月</td>
                        <td>{{item.scale}}万元</td>
                        <td>{{item.state}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12">
                <div class="ym-new">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="ym-new-top ym-font18">媒体关注</div>
                            <ul class="ym-new-con">
                                <li><a href="#">【中国网】鱼猫金服与中融金控强强联合 商业保理又添一</a></li>
                                <li><a href="#">【中证网】鱼猫金服加入北京市互联网金融自查系统</a></li>
                                <li><a href="#">【搜狐网】恭祝鱼猫金服与宜信致诚达成战略合作</a></li>
                                <li><a href="#">【环球网】供应链金融可纾解制造商融资难</a></li>
                                <li><a href="#">【中华网】鱼猫金服布局 “互联网+供应链金融”高地</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <div class="ym-new-top ym-font18">支付公告</div>
                            <ul class="ym-new-con">
                                <li><a href="#">【2016-12-05】连连支付关于中信银行银行渠道维</a></li>
                                <li><a href="#">【2016-10-13】汇潮支付关于平安银行核心系统升</a></li>
                                <li><a href="#">【2016-10-09】新增银行须知</a></li>
                                <li><a href="#">【2016-10-08】认证支付建设银行恢复通知</a></li>
                                <li><a href="#">【2016-10-08】连连支付关于建设银行银行渠道维</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <div class="ym-new-top ym-font18">到期还款</div>
                            <ul class="ym-new-con">
                                <li><a href="#">【2016-12-12】HSBL-2016-0272号项目还息明细通知</a></li>
                                <li><a href="#">【2016-12-09】一个项目还本付息+两个项目还息明</a></li>
                                <li><a href="#">【2016-12-08】两个项目还本付息+两个项目还息明</a></li>
                                <li><a href="#">【2016-12-07】两个投资项目还息明细通知</a></li>
                                <li><a href="#">【2016-12-06】HSBL-2016-0249还息明细通知</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'tpl/include/footer.html'"></div>
