/**
 * Created by gaotianyang(13683265113@163.com) on 2017/3/23.
 **/
body {
  margin: 0;
}
body #stage {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("../img/bg-chicken.png") no-repeat 0 0;
  background-size: 100% 100%;
  overflow: hidden;
}
body #stage .btn {
  font-size: 3rem;
}
body #stage .game-logo {
  margin: 20vh auto 0;
  width: 40vw;
  font-size: 3rem;
  text-align: center;
}
body #stage .chicken-gift {
  position: absolute;
  bottom: 22vh;
  width: 100vw;
}
body #stage .chicken-box {
  position: relative;
  left: 25vw;
  top: 16vh;
  width: 50vw;
  height: 35vh;
  transform-origin: center bottom;
  transform: rotate(0deg);
}
body #stage .chicken-box .chicken {
  position: absolute;
  bottom: 0;
  width: 50vw;
  z-index: 100;
}
body #stage .chicken-box .wingLeft {
  position: absolute;
  width: 20vw;
  bottom: 7vh;
  left: 1vh;
  z-index: 50;
}
body #stage .chicken-box .wingRight {
  position: absolute;
  width: 20vw;
  bottom: 7vh;
  right: 1vh;
  z-index: 50;
}
body #stage .chicken-box .normalEyes {
  position: absolute;
  top: 36%;
  left: 2vw;
  width: 46vw;
  z-index: 200;
}
body #stage .chicken-box .dizzyLeftEye {
  display: none;
  position: absolute;
  top: 36%;
  left: 19vw;
  width: 4vw;
  z-index: 200;
}
body #stage .chicken-box .dizzyRightEye {
  display: none;
  position: absolute;
  top: 36%;
  right: 19vw;
  width: 4vw;
  z-index: 200;
}
body #stage .infoBox {
  margin: 20vh auto 0;
}
body #stage .infoBox .game-progress-time {
  margin: 0 auto;
  width: 40vw;
  font-size: 3rem;
  text-align: center;
}
body #stage .infoBox .game-progress-time p {
  display: none;
}
body #stage .infoBox .startBtn {
  margin: 0 auto;
  width: 40vw;
  text-align: center;
}
body #stage .infoBox .againBtn {
  display: none;
  margin: 0 auto;
  width: 40vw;
  text-align: center;
}
body #stage .liveBtn {
  position: fixed;
  left: 5vw;
  bottom: 10vh;
  width: 45vw;
}
body #stage .ruleBtn {
  position: fixed;
  left: 5vw;
  top: 5vh;
}
body #stage .musicBtn {
  position: fixed;
  right: 5vw;
  top: 5vh;
}
body #stage .infopop {
  display: none;
  box-sizing: border-box;
  position: fixed;
  top: 16vh;
  left: 10vw;
  width: 80vw;
  height: 60vh;
  padding: 3vh 5vw;
  background: url("../img/layerRed.png") no-repeat 0 0;
  background-size: 100% 100%;
  font-size: 3rem;
}
